<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Masukotto</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/litera/bootstrap.min.css">
</head>
<pre><%= data[0].idUsuario %> </pre>

<body>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>DNI</th>
            </tr>
        </thead>
        <tbody>
            <% if (data) { %>
                <% for (i=0;i<data.length;i++){ %>
                    <tr>
                        <td>
                            <%= (i+1) %>
                        </td>
                        <td>
                            <%= data[i].NombreUsuario %>
                        </td>
                        <td>
                            <%= data[i].ApellidoUsuario %>
                        </td>
                        <td>
                            <%= data[i].idUsuario %>
                        </td>
                    </tr>
                    <% } %>
                        <% } %>
        </tbody>
    </table>
    <a type="button" class="btn btn-primary float-end" href="logout">Logout</a>
</body>

</html>