<!DOCTYPE html>
<html lang="en">

<head>
    <title>Inicio de sesión</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</head>

<body>


    <div class="d-flex justify-content-center">
        <div class="card mt-5 w-75 mb-5">
            <div class="col-md-6 offset-md-3">
                <div class="card-body">
                    <h5 class="card-title display-5 text-center">Iniciar sesión</h5>
                    <br>
                    <form action="/inicioSesion" method="POST" class="needs-validation" novalidate>
                        <div class="mb-3 col has-validation">
                            <label for="EmailUsuario">Email</label>
                            <input class="form-control" name="EmailUsuario" id="EmailUsuario" type="email" required
                                placeholder="ejemplo@ejemplo.com">
                            <div class="invalid-feedback">
                                Este campo es obligatorio.
                            </div>
                        </div>

                        <div class="mb-3 col has-validation">
                            <label for="PassUsuario">Contraseña</label>
                            <input class="form-control" name="PassUsuario" id="PassUsuario" type="password" required
                                placeholder="Ingrese su contraseña">
                            <div class="invalid-feedback">
                                Este campo es obligatorio.
                            </div>
                        </div>
                        <br>
                        <div class="col-md-12 justify-content-center d-flex">
                            <button class="btn btn-primary" id="login-button" type="submit">
                                Ingresar
                            </button>
                        </div>
                    </form>
                    <p class="text-center mt-3 text-secondary">
                        Si no tenés una cuenta, por favor
                        <a href="/register">registrate aquí</a>
                    </p>
                    <p class="text-center mt-3 text-secondary">
                        ¿No recordás tu contraseña?
                        <a href="/recuperarPassword">Recuperar contraseña</a>
                    </p>
                    <p class="text-center mt-3 text-secondary">
                        Volver a
                        <a href="/">página de inicio</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        (() => {
            'use strict'
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')
            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>
    <!-- <% if(alert) { %>
        <script>
            Swal.fire({
                title: "<%= alertTitle %>",
                text: "<%= alertMessage %>",
                icon: "<%= alertIcon %>",
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
            }).then(() => {
                    window.location = "/<%= ruta %>"
                })
        </script>
        <% } %> -->
</body>

</html>