<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
  />
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
    <title>Recuperar contraseña</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <form action="/recuperarPassword" method="POST" class="mt-5 border p-4 bg-light shadow">
        <div class="mb-3 col-md-12">
          <h4 class="mb-5 text-secondary">Recuperar Password</h4>
            <label>Ingrese su email<span class="text-danger">*</span></label>
            <input
                type="email"
                name="recuperaremail"
                class="form-control"
                placeholder="Ingrese su email"
            />
        </div>
        <div class="col-md-12">
          <button class="btn btn-primary float-end" id="login-button">
            Recuperar
          </button>

          <a href="/inicioSesion">Volver al Login</a>

          <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <% if(alert) { %>
        <script>
          Swal.fire({
            title: "<%= alertTitle %>",
            text: "<%= alertMessage %>",
            icon: "<%= alertIcon %>",
            showConfirmButton: <%= showConfirmButton %>,
            timer: <%= timer %>
          }).then (()=>{
            window.location = "/<%= ruta %>"
          })
        </script>
     <% } %> 
        </div>
      </form>
    </div>
  </div>
</body>
</html>